body {
    background-color: #B19CD9;
}
h1{
text-align: center;
color: #6925E5;
}

.short {
    font-size: 150%;
    font-family: "Papyrus", Cursive, cursive;
    padding-left: 5px;
    
}

.long {
    font-size: 105%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 75px 150px;
    align-content: center;
}

.white {
    font-size: 90%;
    color: #FFFFFF;
    font-style: italic;
}

.cabinet{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.counter {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}